OSJ_22/Temp/
OSJ_22/obj/
OSJ_22/Logs/
OSJ_22/Library/
OSJ_22/.vs/
OSJ_22/ProjectSettings/Packages/com.unity.testtools.codecoverage/Settings.json
OSJ_22/Assembly-CSharp.csproj
OSJ_22/UserSettings/Layouts/default-2021.dwlt
OSJ_22/Assembly-CSharp.csproj
OSJ_22/Assembly-CSharp.csproj
*.dwlt
*.csproj
OSJ_22/Builds/
